/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    padding: 10px;
    background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
  }

::selection{
    color: #fff;
    background: rgb(142, 73, 232);
}

.botonComenzar,
.reglasDelJuego,
.preguntas,
.puntuacionFinal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reglasDelJuego.reglas,
.preguntas.comenzarCuestionario,
.puntuacionFinal.activarResultado{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.botonComenzar button{
    font-size: 25px;
    font-weight: 500;
    color: rgb(142, 73, 232);
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.reglasDelJuego{
    width: 540px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.reglasDelJuego .tituloReglas{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.reglasDelJuego .listaDeReglas{
    padding: 15px 30px;
}

.reglasDelJuego .listaDeReglas .regla{
    margin: 5px 0;
    font-size: 17px;
}

.reglasDelJuego .listaDeReglas .regla span{
    font-weight: 600;
    color: rgb(142, 73, 232);
}
.reglasDelJuego .botones{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.reglasDelJuego .botones button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(142, 73, 232);
    transition: all 0.3s ease;
}

.preguntas{
    width: 550px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.preguntas header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.preguntas header .titulo{
    font-size: 20px;
    font-weight: 600;
}

.preguntas header .temporizador{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 230px;
}

.preguntas header .temporizador .tiempoRestante{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.preguntas header .temporizador .segundosTemporizador{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.preguntas header .lineaDeTiempo{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: rgb(142, 73, 232);
}

section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}

section .enunciadoPregunta{
    font-size: 25px;
    font-weight: 600;
}

section .opcionesPregunta{
    padding: 20px 0px;
    display: block;   
}

section .opcionesPregunta .opcion{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .opcionesPregunta .opcion:last-child{
    margin-bottom: 0px;
}

section .opcionesPregunta .opcion:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

section .opcionesPregunta .opcion.correcta{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .opcionesPregunta .opcion.incorrecta{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

section .opcionesPregunta .opcion.deshabilitar{
    pointer-events: none;
}

section .opcionesPregunta .opcion .icono{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.opcionesPregunta .opcion .icono.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.opcionesPregunta .opcion .icono.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .puntuacion span{
    display: flex;
    user-select: none;
}

footer .puntuacion span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .puntuacion span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: rgb(142, 73, 232);
    border: 1px solid rgb(142, 73, 232);
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background: #0263ca;
}

footer button.mostrar{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.puntuacionFinal{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.puntuacionFinal .icono{
    font-size: 100px;
    color: rgb(142, 73, 232);
    margin-bottom: 10px;
}

.puntuacionFinal .textoFinalizado{
    font-size: 20px;
    font-weight: 500;
}

.puntuacionFinal .textoPuntaje span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.puntuacionFinal .textoPuntaje span p{
    padding: 0 4px;
    font-weight: 600;
}

.puntuacionFinal .botones{
    display: flex;
    margin: 20px 0;
}

.puntuacionFinal .botones button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(142, 73, 232);
    transition: all 0.3s ease;
}

.botones button.reiniciar{
    color: #fff;
    background: rgb(142, 73, 232);
}

.botones button.reiniciar:hover{
    background: #0263ca;
}

.botones button.salir{
    color: rgb(142, 73, 232);
    background: #fff;
}

.botones button.salir:hover{
    color: #fff;
    background: rgb(142, 73, 232);
}
.wrapper{
    color: #fff;
  
    text-align: center;
    padding: 0 50px;
  }
  .wrapper .title{
    font-size: 35px;
    font-weight: 500;
  }
  .wrapper .title span{
    font-weight: 700;
  }
  .wrapper form{
    margin: 50px 0;
  }
  .wrapper form .email-field{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wrapper .count-down{
    display: flex;
    width: 100%;
    height: 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .wrapper .count-down .timer{
    height: 100%;
    width: 100px;
    border: 2px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .count-down .timer .numero{
    font-size: 25px;
    font-weight: 500;
  }
  .count-down .timer .text{
    font-size: 15px;
  }
  .count-down .clone{
    font-size: 45px;
  }